body {
    margin: 0;
    font-family: Consolas;
    overflow: hidden;
}

.section-game {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
}

.game-start {
    position: absolute;
    width: 30%;
    background-color: lightgreen;
    border-radius: 30px;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 50px;
    font-size: 50px;
    cursor: pointer;

}

.game-start:hover {
    background-color: greenyellow;
}

.hidden {
    display: none;
}

.game-area {
    background-color: lightskyblue;
    width: 100%;
    height: 100vh;
}

.splatoon {
    background-image: url(images/girl-shooter-fococlipping-standard.png);
    background-size: contain;
    position:absolute;
}

.shot {
    background-image: url(images/green-blast-fococlipping-standard.png);
    background-size: contain;
    position:absolute;
}

.hearts {
    background-image: url(images/heart-removebg-preview.png);
    background-size: contain;
    position: absolute;
}

.squid {
background-image: url(images/pink-squid-fococlipping-standard.png);
background-size: contain;
position: absolute;
}

.game-over {
    position: absolute;
    width: 30%;
    background-color: rgb(233, 69, 69);
    border-radius: 30px;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 50px;
    font-size: 50px;
    cursor: pointer;
}

.game-over:hover {
    background-color: red;
}

.game-score {
    color: white;
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 30px;
}
